
<!-- Footer -->
<footer class="page-footer font-small cyan lighten-2 pt-4 mt-5">

    <!-- Footer Links -->
    <div class="container-fluid text-center cyan lighten-2 text-md-left">


        <!-- Grid row -->
        <div class="row py-3">


            <!-- Grid column -->
            <div class="col-md-12 mb-md-0 mb-3 text-center">


                <!-- Links -->
                <h5 class="text-uppercase"></h5>


                <a href="../final-project" class="pr-3 darken-hover font-weight-bolder">About us</a>
                <a href="#" class="pr-3 darken-hover font-weight-bolder">Careers</a>
                <a href="#" class="pr-3 darken-hover font-weight-bolder">Contact us</a>
                <a href="loggin" class="pr-3 darken-hover font-weight-bolder">Your account</a>


            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->


    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 cyan ">© 2019 Copyright:
        <a href="../final-project">Walmartonlineshopping.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<!-- Custom JS -->
</body>
</html>

