<include href="views/includes/header.html"/>


<title>Online Shopping</title>
</head>
<body class="cyan lighten-5">


<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark cyan fixed-top">


    <!-- Navbar brand -->
    <a class="navbar-brand pl-lg-5 darken-hover font-weight-bolder" href="../final-project">Walmart Online Shopping</a>


    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">


        <!-- Links -->
        <ul class="navbar-nav ml-auto pr-5">
            <li class="nav-item">
                <a class="nav-link" href="../final-project">Walmart</a>
            </li>


            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Home</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="loggin">Log In</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="search">Search</a>
            </li>
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>
<!-- Navbar -->


<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Confirm your order</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <td>Image</td>
                        <td>Name</td>
                        <td>Price</td>
                    </tr>
                    </thead>
                    <tbody>
                    <repeat group="{{@cart}}" key="{{@key}}" value="{{@value}}">
                        <tr>
                            <td><img src="{{@value->getImage()}}" alt="picture"></td>
                            <td>{{@value->getName()}}</td>
                            <td>${{@value->getPrice()}}</td>
                        </tr>
                    </repeat>
                    </tbody>
                </table>

                <h2>Price total: ${{@cartTotal}}</h2>
                <h3>Tax(10%): ${{@tax}}</h3>

                <div>
                    <button class="btn btn-info waves-effect float-right" id="confirmOrderBtn">Confirm Shipping</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="error"></div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="profile" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal">

                    <div class="form-group">
                        <label>Shipping Address:
                            <input id="address" type="text" name="address" class="form-control">
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input checked class="form-check-input" type="radio" name="shipping" value="standard">
                            Standard Shipping: Free (5-10) Business Days</label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="shipping" value="expedited">
                            Expedited Shipping: $10 (3-4) Business Days</label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="shipping" value="overnight">
                            Overnight Shipping: $20 (1) Business Day</label>
                    </div>

                    <input hidden id="totalCost" value="{{@cartTotal+@tax}}">
                    <input hidden id="costWShipping" value="{{@cartTotal+@tax}}">
                    <input hidden id="userID" value="{{$_SESSION['userID']}}">
                    <input hidden id="priceString" value="{{@priceString}}">
                    <input hidden id="pictureString" value="{{@pictureString}}">
                    <input hidden id="itemString" value="{{@itemString}}">
                    <p id="costDisplay">Price Total: ${{@cartTotal+@tax}}</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="cartSubmit" type="button" class="btn btn-success">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">Order Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="modal2">

            </div>

            <div class="modal-footer">
                <form action="profile" method="post">
                    <input hidden type="text" name="cartBought" value="bought">
                    <button type="submit" class="btn btn-success">Close</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="model/cart-script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<include href="views/includes/footer.html"/>