<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

<h1>This is the user's cart</h1>
<p>Have to show each item with a horizontal line in between each one</p>
<p>Show each item's name, price, and picture. With a cart total at the bottom and a confirm that will show a modal</p>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href=""> Maxwell & Jittima</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>