<!--
    Authors: Max Lee
    URL: (user).greenriverdev.com/328/final-project/search

    Search page that pulls products from Walmart using their API.
-->

<include href="views/includes/header.html"/>


<title>Online Shopping</title>
</head>
<body class="cyan lighten-5">


<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark cyan fixed-top">


    <!-- Navbar brand -->
    <a class="navbar-brand pl-lg-5 darken-hover font-weight-bolder" href="../final-project">
        <i class="fas fa-home light-black-text"></i>Walmart Online Shopping</a>


    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">


        <!-- Links -->
        <ul class="navbar-nav ml-auto pr-5">
            <li class="nav-item">
                <a class="nav-link" href="../final-project">Walmart</a>
            </li>


            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Home</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="login">Log In</a>
                    <a class="dropdown-item" href="register">Register</a>
                    <a class="dropdown-item" href="logout">Log out</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="search">Search</a>
            </li>
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>
<!-- Navbar -->

<div class="jumbotron">
    <div class="container cyan lighten-5">
        <h1>Walmart Shopping</h1>
        <h2>Cart Size: {{$_SESSION['cartSize']}}</h2>
        <h3><a href="cart" class="orange-text font-weight-bolder">View Your Cart</a></h3>
    </div>
</div>

<!--Walmart Shopping section-->
<div class="jumbotron">
    <div class="container cyan lighten-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Search Walmart for:
                        <input id="product" type="text" class="form-control">
                    </label>
                    <button id="btnSearch" class="btn btn-info waves-effect">Go!</button>
                </div>
                <br>
                <br>
                <div id="output"></div>
                <br>
                <table id="outputTable" class="table"></table>
            </div>
        </div>
    </div>
</div>

<!-- Modal to display the product and add it to the cart -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="api/walmart-script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<include href="views/includes/footer.html"/>
