<include href="views/includes/header.html"/>


<title>Online Shopping</title>
</head>
<body class="cyan lighten-5">


<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark cyan fixed-top">


    <!-- Navbar brand -->
    <a class="navbar-brand pl-lg-5 darken-hover font-weight-bolder" href="../final-project">Walmart Online Shopping</a>


    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">


        <!-- Links -->
        <ul class="navbar-nav ml-auto pr-5">
            <li class="nav-item">
                <a class="nav-link" href="../final-project">Walmart</a>
            </li>


            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Home</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="loggin">Log In</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="search">Search</a>
            </li>
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>
<!-- Navbar -->

<div class="jumbotron">
    <h2 class="display-4 text-center">Thank you!</h2>
    <p class="lead text-center">{{ @user['fname'] }} {{ @user['lname'] }} for registration!</p>
    <hr class="my-4">
    <p></p>
    <a type="button" class="btn btn-info waves-effect" href="loggin">Log in</a>
    <a type="button" class="btn btn-outline-info waves-effect" href="search">Search</a>
</div>


<include href="views/includes/footer.html"/>