.container {
    background: whitesmoke;
    margin: auto;
    padding: 30px;
}
img {
    margin: auto;
    padding: 30px;
}

#sofa {
    width: 650px;
    height: 350px;
}

#shoes {
    width: 400px;
    height: 350px;
}

#adidas {
    width: 650px;
    height: 350px;
}

#coffee {
    width: 650px;
    height: 350px;
}

body {
    background: #aaaaaa;
}

a {
    color: white;
}

h1 {
    color: darkslategrey;
    font-family: Serif;
}