.container {
    margin: auto;
    padding: 30px;
}
img {
    margin: auto;
    padding: 30px;
}

#sofa {
    width: 650px;
    height: 350px;
}

#shoes {
    width: 400px;
    height: 350px;
}

#adidas {
    width: 650px;
    height: 350px;
}

#coffee {
    width: 650px;
    height: 350px;
}

#headphone {
    width: 200px;
    height: 185px;
}

#him {
    height: 230px;
}


h1 {
    font-family: Serif;
}

body {
    margin-top: 100px;
}
